.logo {
  max-width: 100%;
  width: 60px;
}
.container-fluid {
  background: rgba(44, 44, 155, 0.911);
}
.sinpadding {
  padding-top: 0px;
}
.navitem {
  color: whitesmoke;
}
.form-control {
  width: 500%;
}
.tarjeta{
 width: 150px;
}
.nombre{
  font-size: 15px;
}